.about-row {
  display: flex;
  margin: 0 auto;
  width: 80%;
}

.about-col {
  width: 45%;
}

.tours-row {
  display: flex;
  margin: 0 auto;
  width: 80%;
}

.tours-col {
  width: 30%;
  margin-right: 4rem;
}
