.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;
    z-index: 4;
    transition: all 0.2s;
    outline-offset: 2rem;

    &--p1 {
      left: 0;
      top: -2rem;
    }
    &--p2 {
      right: 0;
      top: 2rem;
    }
    &--p3 {
      left: 15%;
      top: 10rem;
    }

    &:hover {
      outline: 1.3rem solid $color-primary;

      transform: scale(1.3);
      z-index: 5;
    }
  }
}
