.section-about {
  background-color: $color-grey-light;
  padding: 25rem 0;
  margin-top: -30vh;
}

.section-tours {
  background-color: $color-grey-light;
  padding: 25rem 0 15rem 0;
  margin-top: -35rem;
}
